
@{
}
<!-- sidebar area start -->
<!-- Sidebar -->
<div class="w3-sidebar w3-light-grey w3-bar-block" style="width:15%">
    <ul style="list-style-type:none; padding:0;">
        <li>
            <h3>Nowadays</h3>
        </li>
        <li>
            <a href="/admin/index/" class="w3-button">Homepage</a>
        </li>
        <li>
            <a href="#" class="w3-button" id="companiesButton">Companies</a>
            <ul id="companiesSubmenu" style="list-style-type:none; padding-left:20px; display:none;">
                <li><a href="/company/add/" class="w3-button">Add</a></li>
                <li><a href="/company/list/" class="w3-button">List</a></li>
            </ul>
        </li>
        <li>
            <a href="/admin/adminCoffee/" class="w3-button">Employees</a>
        </li>
        <li>
            <a href="/admin/adminblog/" class="w3-button">Projects</a>
        </li>
        <li>
            <a href="/admin/adminusermessage/" class="w3-button">Issues</a>
        </li>
        <li>
            <a href="/login/Logout/" class="w3-button btn-danger">Exit</a>
        </li>
    </ul>
</div>

<!-- sidebar area end -->
<script src="~/js/site.js"></script>
<link href="~/css/site.css" rel="stylesheet" />